* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #323232;
}

body {
    background: url(assets/background.svg);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    overflow-x: hidden;
}

h1 {
    font-size: 3.125rem;
    text-align: center;
}

button {
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 0.5rem;
    background-image: linear-gradient(135deg, #77b1e3 0%, #437bcd 100%);
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    margin-top: 0.625rem;
    width: 6.5rem;
    text-align: center;

}

button:hover {
    background-image: linear-gradient(135deg, #5795da 0%, #3c6cc4 100%);
}

button:active {
    background-image: linear-gradient(135deg, #437bcd 0%, #345499 100%);
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

textarea {
    resize: none;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
}

div textarea {
    text-align: center;
}

p {
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
}

.result {
    display: none;
}


.input {
    padding: 0.938rem;
    backdrop-filter: blur(0.625rem);
    border: 0.063rem solid #d4d4d4;
    border-radius: 0.625rem;
    font-weight: 500;
    text-align: center;

}


.radio {
    display: none;
}

.label {
    padding: 0.313rem;
    cursor: pointer;

}


.output {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 0.625rem;
}

.matrix img {
    width: 9.375rem;
    height: 6.875rem;
}

.function img {
    width: 19.688rem;
    height: 4.688rem;
}

#op1:checked~.label-1 img,
#op2:checked~.label-2 img,
#op3:checked~.label-3 img,
#func1:checked~.label-1 img,
#func2:checked~.label-2 img,
#func3:checked~.label-3 img {
    border: 0.25rem solid #437bcd;
}

.inputBox {
    position: relative;
    width: 15.625rem;
}

.inputBox input {
    width: 100%;
    padding: 0.625rem;
    border: 0.063rem solid rgba(255, 255, 255, 0.25);
    background: transparent;
    border-radius: 0.313rem;
    outline: none;
    color: #323232;
    font-size: 1em;
}

.inputBox span {
    position: absolute;
    left: 0;
    padding: 0.625rem;
    pointer-events: none;
    font-size: 1em;
    color: rgba(255, 255, 255, 0.25);
    text-transform: uppercase;
    transition: 0.3s;
    color: #323232;
}

.inputBox input:valid~span,
.inputBox input:focus~span {
    color: rgba(255, 255, 255, 0.75);
    transform: translateX(0.625rem) translateY(-0.438rem);
    font-size: 0.65em;
    padding: 0 0.625rem;
    background-color: #437bcd;
    border-radius: 0.313rem;
    letter-spacing: 0.2em;
}

.inputBox input:valid,
.inputBox input:focus {
    border: 0.063rem solid #437bcd;
}